.sykmelding-panel-wrapper{
  margin-bottom: 2rem;
  .sykmelding-linje{
    margin-top: -0.5rem;
  }

  .typo-normal{
    font-weight: bold;
  }
}


.sykmelding-opplysninger-wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  .soknad-tittel{
    margin-top: 2rem;
  }

  .typo-normal.checked-med-tekst{
    font-weight: normal;
  }

  .diagnose-wrapper{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
}

@media screen and (max-width: 950px){
  .sykmelding-panel-wrapper{
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 620px){
  .sykmelding-panel-wrapper{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .sykmelding-opplysninger-wrapper{
    padding-left: 0rem;
    padding-bottom: 0rem;
  }

}







