.sykmelding-panel-wrapper{
  margin-left: 10rem;
  margin-right: 10rem;

  .sykmelding-linje{
    margin-top: -0.5rem;
  }
}

.sykmelding-opplysninger-wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-bottom: 2rem;

  .soknad-tittel{
    margin-top: 2rem;
  }
  
}

@media screen and (max-width: 620px){
  .sykmelding-panel-wrapper{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .sykmelding-opplysninger-wrapper{
    padding-left: 0rem;
    padding-bottom: 0rem;
  }

}





