@import '../../../../node_modules/nav-frontend-core/less/core';
@import '../../../../src/basic';

.filopplaster-modal {
    width: 550px;

    .modal-content {
        padding: 0 0.4rem;

        .lagre-kvittering {
            margin-bottom: 1rem;
        }
    }

    .kvittering-header {
        margin-bottom: 1.5rem;
    }

    .feilmelding-alert {
        margin-top: 1rem;
    }

    .belop-label {
        margin-bottom: 0.5rem;
    }
}
