{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-typescript"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "simple-import-sort",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }, 
  "rules":
  {
    "react/jsx-props-no-spreading": "off", 
    "react/prop-types": 0
  }
  
}