@import 'node_modules/nav-frontend-core/less/_variabler';

.soknad-info-utvid {
    margin-bottom: 1rem;

    .checkedblock {
        display: flex;
        align-items: center;
        line-height: 1.5;

        .checkedikon {
            margin: -2px 0.5rem 0 0.2rem;
        }
    }
}

@media screen and (max-width: 750px) {
    .soknad-info-utvid {
        padding: 1.4rem 1rem;
    }
}


