@import 'node_modules/nav-frontend-core/less/_variabler';

.filopplasteren {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba(204, 222, 230, 0.5);
    color: @navBla;
    margin: 1rem auto;
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px @fokusFarge;
    }
}

.opplastingsikon {
    display: inline-block;
    margin-right: 0.3rem;
}
