@import 'node_modules/nav-frontend-core/less/_variabler';

.filopplasteren {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    font-weight: bold;
    border: 2px dashed @navGra80;
    border-radius: 4px;
    background-color: rgba(204, 222, 230, 0.5);
    color: @navBla;
    margin: 2rem auto;
    cursor: pointer;
}

.opplastingsikon {
    display: inline-block;
}
