.videre-knapp{
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.tilbake-knapp{
    margin-left: 2rem;
}

.send-knapp {
    background-color: #6AB889;
    border-color:  #6AB889;
    display: flex;
    justify-content: center;
}

.send-knapp:hover{
    background-color: #9BD0B0;
    border-color: #9BD0B0;
}

.send-knapp:active{
    background-color: #6AB889;
    border-color: #6AB889;
}

.send-knapp:focus{
    color: #38A161;
}
