.horisontal-radio{
.inputPanelGruppe__inner{
    .inputPanel{
      margin-right: 0.25rem;
      margin-bottom: 0.5em;
      width: 50%;
  }
  display: flex;
  justify-content: space-evenly;
}
}

.nav-veileder{
  padding-bottom: 2rem;

  .nav-veileder__snakkeboblePil{
    height: 0rem;
  }
}

h2.typo-undertittel{
  margin-bottom: 1rem;
}