.horisontal-radio{
.inputPanelGruppe__inner{
    .inputPanel{
      margin-right: 0.25rem;
      margin-bottom: 0.5em;
      width: 50%;
  }
  display: flex;
  justify-content: space-evenly;
}
}

h2.typo-undertittel{
  margin-bottom: 1rem;
}

@media screen and (max-width: 620px){
  .skjemagruppe__description{
    width: 20rem;
  }
  .inputPanelGruppe__inner{
    flex-direction: column;
  }
  .inputPanel.radioPanel{
    align-self: center;
  }
}
    