@import 'node_modules/nav-frontend-core/less/_variabler';

.hovedpunkter {
    margin-bottom: 1rem;

    .punkter {
        margin-top: 0.8rem;
        padding-left: 19px;

        li {
            margin: 0.8rem 0 0;
        }
    }

    .checkedblock {
        display: flex;
        align-items: center;
        line-height: 1.5;

        .checkedikon {
            margin: -2px 0.5rem 0 0.2rem;
        }
    }
}

@media screen and (max-width: 750px) {
    .hovedpunkter {
        padding: 1.4rem 1rem;
    }
}


