.horisontal-radio{
.inputPanelGruppe__inner{
    .inputPanel{
      margin-right: 0.25rem;
      margin-bottom: 0.5em;
      width: 40%;
  }
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: stretch;
}
}

.skjemagruppe__legend{
  font-weight: normal !important;
}