.horisontal-radio{
.inputPanelGruppe__inner{
    .inputPanel{
      margin-right: 0.25rem;
      margin-bottom: 0.5em;
      width: 50%;
  }
  display: flex;
  justify-content: space-evenly;
}
}

.inputPanelGruppe__inner{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.nav-veileder{
  padding-bottom: 2rem;
}

h2.typo-undertittel{
  margin-bottom: 2rem;
}