.soknadSider{
    background-color: white;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-right: 20rem;
    margin-left: 20rem;
}

.sporsmal-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
}

/*
@media screen and (max-width: 1400px){
    .soknadSider{
        margin-right: 10rem;
        margin-left: 10rem;
    }
}

@media screen and (max-width: 1200px){
    .soknadSider{
        margin-right: 5rem;
        margin-left: 5rem;
    }
}*/

@media screen and (min-width:850px){
    .soknadSider{
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media screen and (max-width: 850px){
    .sporsmal-wrapper{
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 3rem;
    }
    .soknadSider{
        margin-right: 0rem;
        margin-left: 0rem;
    }  
}
@media screen and (max-width: 620px){
    .sporsmal-wrapper{
        padding: 1rem;
    }  
}

.tilbake-knapp::before{
    content: "";
}