.soknadSider{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sporsmal-wrapper{
    width: 640px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px){
    .sporsmal-wrapper{
        padding: 3rem;
        width: unset;
    }
}