.soknadSider{
    background-color: white;
    margin: 0;
}

.sporsmal-wrapper{
    width: 672px;
    margin: 0 auto;
    padding: 1rem 0;
}

@media screen and (max-width: 750px){
    .sporsmal-wrapper{
        position: relative;
        padding: 3rem 2rem;
        width: unset;
        margin: 0;
    }
}