.input-tittel{
    margin-top: 1rem;
    .input-felt{
        display: flex;
        .transportmiddel-kilometer-hjelpetekst{
            margin-bottom: 0.5rem;
            margin-left: 1rem;
            align-self: flex-end;
        }
        .månedlige-utgifter-hjelpetekst{
            margin-bottom: 0.5rem;
            margin-left: 1rem;
            align-self: flex-end;
        }
    }
    
}
