@import 'node_modules/nav-frontend-core/less/_variabler';
@import '../../basic';

.avbrutt-side {
    .alertstripe {
        margin-bottom: 2rem;
    }

    .tekst {
        margin-bottom: 1rem;
    }

    .gjenapne {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: @screen-sm) {
    .avbrutt-side {
        .limit {
            width: @desktopLimitWidth;
        }
    }
}
