@import '../../../node_modules/nav-frontend-core/less/_variabler';

.fil_liste {
    th {
        padding-right: 1rem;
        text-align: left;
    }

    td {
        padding-right: 1rem;
    }
}

@media (min-width: @screen-sm) {
    .fil_liste {
        .dato, .transport, .belop {
            strong {
                display: none;
            }
        }

        .slett-knapp {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            margin: 0;

            &:focus {
                box-shadow: 0 0 0 3px @navDypBla;
                background-color: @white;
            }
        }
    }
}
