@import '../../../node_modules/nav-frontend-core/less/_variabler';

.tabell--stripet.fil_liste {
    th, td {
        padding: 0.75rem 0.5rem;
    }

    th {
        text-align: left;

        .sortering__heading {
            display: flex;
            align-items: center;

            &.belop {
                justify-content: flex-end;
            }
        }

        .sortering__chevron {
            display: inline-flex;
            flex-direction: column;
            padding-left: 0.3rem;

            .lenkeknapp {
                line-height: 0.6;
            }

            .chevronboks {
                width: 15px;

                &:before, &:after {
                    height: 75%;
                    width: 44%;
                }
            }
        }
    }

    td.belop {
        padding-right: 0.6rem;
    }

    .belop {
        white-space: nowrap;
        text-align: right;
    }

    tbody.sumlinje {
        tr {
            td {
                background: none;
                border-bottom: 0;
            }
        }
    }
}

@media (min-width: @screen-sm) {
    .tabell.fil_liste {
        th .belop {
            padding-right: 3rem;
        }

        td.belop {
            padding-right: 3.6rem;
        }

        .slett-knapp {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            margin: 0;

            &:focus {
                box-shadow: 0 0 0 3px @navDypBla;
                background-color: @white;
            }
        }
    }
}
