@import "../../../node_modules/nav-frontend-core/less/_variabler";

.filopplaster-wrapper {
    justify-content: center;
  
    ul.opplasting-liste {
      padding-inline-start: 1.3em;
      line-height: 40px;
    }
  
    li {
      font-size: 25px;
    }
  
    .filopplaster {
      text-align: center;
      font-weight: bold;
      border: 2px dashed #59514b;
      border-radius: 4px;
      background-color: rgba(204, 222, 230, 0.5);
      height: 64px;
      max-width: 575px;
      color: @navBla;
      margin: 0 auto;
    }
  
      .tekst {
        line-height: 64px;
        display: inline-block;
        margin-left: 10px;
      }

      .feilmeldinger {
        margin: 1rem 0 0 0;
        text-align: left;
      }
      
    .opplastingsikon {
      display: inline-block;
    }
}

.filopplaster-modal {
  .modal-content {
    min-width: 200px;
    padding: 0 5%;
    display: grid;

    .lagre-kvittering {
      place-self: center;
    }
  }
  .kvittering-header {
    margin-bottom: 30px;
  }

  .input-rad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    justify-content: space-between;
    align-items: end;
  }
}

.opplastede-filer {
  max-width: 575px;
  margin: 0 auto;

  .fil {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;

    .typo-normal {
      display: inline-block;
    }

    .filstørrelse {
      margin-left: 10px;
    }

    .filnavn {
      margin-left: 1rem;
    }

    .vedleggsikon {
      position: relative;
      top: 5px;
    }

    .slett {
      position: relative;
      top: 5px;
      padding: 1px 10px;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: normal;

      background-color: white;
      border-radius: 10px;
      border-color: black;
      border-width: 1px;

      .slettikon {
        margin-left: 10px;
        margin-bottom: 3px;
      }
    }
  }
  
  .feilmelding-alert {
    background: none !important;
    border: none !important;
    padding: 0;
    font-weight: bold;
  
    div {
      font-weight: bold;
    }
  }

  hr {
    border: 1px solid #b7b1a9;
  }
}