@import "../../../node_modules/nav-frontend-core/less/_variabler";

.filopplaster-wrapper {
    justify-content: center;
  
    ul.opplasting-liste {
      padding-inline-start: 1.3em;
      line-height: 40px;
    }
  
    li {
      font-size: 25px;
    }
  
    .filopplaster {
      text-align: center;
      font-weight: bold;
      border: 2px dashed #59514b;
      border-radius: 4px;
      background-color: rgba(204, 222, 230, 0.5);
      height: 64px;
      color: @navBla;
      margin: 0 auto;
    }
  
      .tekst {
        line-height: 64px;
        display: inline-block;
        margin-left: 10px;
      }

      .feilmeldinger {
        margin: 1rem 0 0 0;
        text-align: left;
      }
      
    .opplastingsikon {
      display: inline-block;
    }
}

.filopplaster-modal {
  .modal-content {
    min-width: 200px;
    padding: 0 5%;
    display: grid;

    .lagre-kvittering {
      place-self: center;
    }
  }
  .kvittering-header {
    margin-bottom: 30px;
  }

  .input-rad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    justify-content: space-between;
    align-items: end;
  }
}

.opplastede-filer {
  margin: 0 auto;

  hr {
    border: 1px solid #b7b1a9;
  }

  .kvitteringsinfo-tittel{
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    
    .typo-undertittel{
      display: inline-block;
    }
  }
}


.feilmelding-alert {
  margin-top: 1rem;
}

.fil {
  margin-bottom: 1.5rem;
  display: flex;

  .typo-normal {
    display: inline;
  }
  
  .kvittering{
    flex-grow: 1;
    flex-basis: 45%;
  }

  .filstørrelse {
    margin-left: 10px;
  }

  .filnavn {
    margin-left: 1rem;

  }

  .beløp{
    padding: 0.3rem;
    flex-grow: 1;
    flex-basis: 25%;
  }

  .dato {
    padding: 0.3rem;
    flex-grow: 1;
    flex-basis: 25%;
  }

  .vedleggsikon {

  }

}