@import "../../../node_modules/nav-frontend-core/less/_variabler";


.perioder-wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 50px;
  border: 1px solid black;
  border-radius: 4px;
  
  .periode-overskrift {
    margin: 20px 0;
  }

  .periode-panel {
    color: @navMorkGra;
    margin: 30px 0;
  }

  .periode-element {
    margin-top: 30px;
  }

}