.datovelger-wrapper {
    .label {
        margin-bottom: 8px;
    }
}

.datovelger-med-feil {
    input:not(:focus):not(:hover):not(:active) {
        border-color: #ba3a26;
        box-shadow: 0 0 0 1px #ba3a26;
    }
}
