.header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    ". tittel ikoner";
    align-items: center;
    padding: 2em;
    background-color: rgb(201, 223, 242);
    border-bottom: 0.25em solid rgb(46, 102, 168);

    .søknadstittel{
        grid-area: tittel;
        text-align: center;
    }

    .header-icons{
       grid-area: ikoner;
       text-align: center;
    }
}
@media screen and (max-width: 450px){
    .header{
        grid-template-columns: repeat(4, 25%);
        grid-template-areas: 
        ". tittel tittel ikoner";
    }
}