.horisontal-radiogruppe{
  background-color: red;
  width: auto;
  display: inline !important;
  display: flex;
  flex-direction: row !important;
  font: ;
}

.inputPanelGruppe{
  margin: 100px;
  padding: 500px;
  position: absolute;
  width: auto;
  display: flex;
  flex-direction: row;
}