.kvitteringstitler {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    'kvitteringTittel storrelse belopTittel datoTittel';
    grid-template-columns: 15% 25% 15% 40%;
    grid-gap: 5px;
    margin-bottom: 1rem;
  
    hr {
      border: 1px solid #b7b1a9;
    }
    
    .typo-undertittel{
      margin: 0;
    }
  
  
    .kvittering-tittel{
      grid-area: kvitteringTittel;
    }
  
    .filstorrelse {
      grid-area: storrelse;
      padding-top: 0.3rem;
    }
  
    .belop-tittel{
      grid-area: belopTittel;
    }
  
    .dato-tittel{
      grid-area: datoTittel;
    }
  }
  
  .fil-med-info{
      display: grid;
      margin: 0 auto;
      grid-template-areas:
      'kvittering storrelse belop dato slett';
      grid-gap: 5px;
      grid-template-columns: 15% 25% 15% 10% 30%;
    
      .typo-normal {
        display: inline;
      }
    
      .kvittering{
        grid-area: kvittering;
        display: flex;
        align-items: center;
      }
    
      .belop{
        padding-top: 0.3rem;
        grid-area: belop;
      }
    
      .dato {
        padding-top: 0.3rem;
        grid-area: dato;
        white-space: nowrap;
      }
    
      .slett-knapp{
        max-height: 2rem;
        grid-area: slett;
        max-width: 8rem;
        margin-left: auto;
        margin-right: 0;
      }
    }
  
  .mobil-belop{
    display: none;
  }
  .mobil-dato{
    display: none;
  }
  
  @media screen and (max-width: 950px){
    .slett-knapp {
      transform: scale(0.8);
    }  
  }
  
  @media screen and (max-width: 390px){
    .slett-knapp{
        transform: scale(0.60);
        margin-left: auto;
        margin-right: 0;
        margin-top: 1.5rem;
    } 
  
    .fil-med-info{
      border: 1px solid #78706A;
      border-radius: 0.3rem;
      grid-template-areas:
      'kvittering storrelse slett'
      'beloptittel belop 1'
      'datotittel dato dato'
      ;
      grid-gap: 5px;
      grid-template-columns: 30% 30% 36%; 
    }
  
    .mobil-belop{
      margin-top: 0.5rem;
      padding-top: 0.3rem;
      display: flex;
      padding-left: 2.2rem;
      grid-area: beloptittel;
    }
    .mobil-dato{
      padding-top: 0.3rem;
      display: flex;
      padding-left: 2.2rem;
      grid-area: datotittel;
    }
  
    .kvitteringstitler{
      display: none;
    }
  
    .kvittering{
      margin-top: 1.5rem;
      grid-area: kvittering;
      margin-left: 0.5rem;
    }
    
    .filstorrelse {
      margin-top: 1.5rem;
      grid-area: storrelse;
      padding-top: 0.3rem;
    }
  
    .belop{
      margin-top: 0.5rem;
      padding-top: 0.3rem;
      padding-bottom: 0.5rem;
      grid-area: belop;
      text-align: left;
      margin-left: 1rem;
    }
  
    .dato {
      padding-top: 0.3rem;
      grid-area: dato;
      padding-left: 1rem;
      justify-self: left;
      padding-bottom: 1rem;
    }
  }
  