.transportmiddel-spørsmål{
  margin-bottom: 2rem;
  .kollektivtransport-hjelpetekst{
    margin-left: 1rem;
    vertical-align: middle;
  }
}

.transportalternativerKollektivt{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.skjemaelement{
  //margin-bottom: 1rem;
}

.skjemaelement__label{
  margin-top: 0.5rem;
}

.input-rad{
  margin-bottom: 1rem;
}
