@import 'node_modules/nav-frontend-core/less/_variabler';

.sykmelding-panel {
    background-color: #f1f6f8;

    .ekspanderbartPanel__tittel {
        margin-left: 0.5rem;
    }

    .orientering {
        display: flex;
        align-items: center;
    }

    img.plaster {
        display: inline;
    }

    img.plaster--hover {
        display: none;
    }

    .sykmelding-panel__tittel {
        display: inline;
        margin-left: 1rem;
    }

    &:hover {
        img.plaster {
            display: none;
        }

        img.plaster--hover {
            display: inline;
        }
    }

    .avsnitt {
        margin-bottom: 1.5rem;
        margin-left: 1rem;

        .typo-element {
            margin-bottom: 0.3rem;
        }
    }

    .avsnitt-hode {
        margin-top: 1rem;
        color: @navMorkGra;
    }

    .lenkerad {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;

        .lenke {
            border: 0;
            padding: 0;
        }
    }
}
