@import '../../../node_modules/nav-frontend-core/less/_variabler';

.sykmelding-panel {
    .ekspanderbartPanel__tittel {
        margin-left: 0.5rem;
    }

    img.plaster {
        display: inline;
    }

    img.plaster--hover {
        display: none;
    }

    .sykmelding-panel__tittel {
        display: inline;
        margin-left: 1rem;
    }

    &:hover {
        img.plaster {
            display: none;
        }

        img.plaster--hover {
            display: inline;
        }
    }
}

.ekspanderbartPanel__innhold {
    padding: 0 2rem 2rem;

    .element-tittel {
        margin-top: 2rem;
    }
}
