body {
    margin: 0;
    margin-top: 12em;
    box-sizing: content-box;
    background-color: #E5E5E5;
  }
  
  .sentrert {
    display: flex;
    justify-content: center;
  }
  
  .seksjon {
    padding-bottom: 3rem;
  }
  