@import '../node_modules/nav-frontend-core/less/core';

body {
    margin: 0;
    box-sizing: content-box;
    background-color: #e5e5e5;
    font-family: @font-family;
}

.app-main-content {
    background-color: @white;
    margin: 0;
    flex: 1;
}

.app-main-content.grey {
    background-color: rgb(238, 238, 238);
}

.app-page {
    width: 700px;
    margin: 0 auto;
    padding: 1rem 0;
    flex: 1;
}

@media screen and (max-width: 750px) {
    .app-page {
        position: relative;
        width: unset;
        margin: 0;
        padding: 3rem 2rem;
    }
}

.sentrert {
    display: flex;
    justify-content: center;
}

.seksjon {
    padding-bottom: 3rem;
}

.pagewrapper {
    display: flex;
    flex-flow: column;
    min-height: 100vh;

    #root {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
