@import (reference) '~nav-frontend-typografi-style/src/index';

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: content-box;
    background-color: #E5E5E5;
    font-family: @font-family;
  }
  
  .sentrert {
    display: flex;
    justify-content: center;
  }
  
  .seksjon {
    padding-bottom: 3rem;
  }
  