@import 'node_modules/nav-frontend-core/less/_variabler';

.opplasting {
    .opplasting__tekst {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        .opplasting__hjelpetekst {
            align-self: flex-start;
            margin-left: 0.35rem;
        }
    }

    .fler-vedlegg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 2rem 0;
        width: 100%;
        border: 1px solid @navBla;
        background-color: @navLysBlaLighten80;
        color: @navBla;
        cursor: pointer;

        .pluss-ikon {
            margin-right: 0.3rem;
        }

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 3px @fokusFarge;
        }
    }

    ul.opplasting-liste {
        padding-inline-start: 1.3em;
        line-height: 40px;
    }

    li {
        font-size: 25px;
    }

    .tekst {
        margin-left: 10px;
    }

    .feilmeldinger {
        margin: 1rem 0 0 0;
        text-align: left;
    }
}

@media (min-width: @screen-sm) {
    .kvitteringer-total {
        margin: 1rem 0;
    }
}
