@import 'node_modules/nav-frontend-core/less/_variabler';
@import '../../basic';

.reisetilskudd-side {
    .sykmelding-panel {
        .ekspanderbartPanel__tittel {
            margin-left: 0.5rem;
        }

        img.plaster {
            display: inline;
        }

        img.plaster--hover {
            display: none;
        }

        .sykmelding-panel__tittel {
            display: inline;
            margin-left: 1rem;
        }

        &:hover {
            img.plaster {
                display: none;
            }

            img.plaster--hover {
                display: inline;
            }
        }
    }

    .nav-veileder__frame svg {
        height: 100%;
    }

    .veileder {
        margin: 2rem 9rem 3rem;

        .nav-veilederpanel {
            border: 0;
            padding-right: 0;
        }
    }

    .hvem-kan-faa, .spar-tid, .alertstripe {
        margin: 3rem 0;
    }

    .hvem-kan-faa {
        ul {
            padding-left: 1.4rem;
            margin: 1rem 0;
            line-height: 1.5;
        }

        p {
            margin: 0.5rem 0 1rem;
        }
    }

    .knapperad {
        flex-direction: column;
        align-items: center;

        .knapp {
            display: inline-block;
        }

        .lenkeknapp {
            display: block;
            margin: 3rem 0;
        }
    }
}

.horisontal-radio {
    .utbetaling-tittel {
        padding-bottom: 1rem;
    }

    .inputPanelGruppe__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .inputPanel {
            margin-bottom: 0.5em;
            width: 100%;
        }
    }
}

@media (min-width: @screen-sm) {
    .reisetilskudd-side {
        .limit {
            width: @desktopLimitWidth;
        }
    }

    .horisontal-radio {
        .inputPanelGruppe__inner {
            flex-direction: row;

            .inputPanel {
                width: 48.5%;
            }
        }
    }
}

@media (min-width: 470px) {
    .reisetilskudd-side {
        .knapperad {
            flex-direction: row;
        }
    }
}
